#app {
  margin: 0;
  padding: 0;
  color: white;
}

/* Footer content */

.footer-links {
  font-size: 13px;
  position: relative;
  bottom: 0;
  padding-left: 0;
  list-style: none;
}

#page-container {
  position: relative;
  min-height: 100vh;
  bottom: 0;
}

@media (hover: hover) {
  a:hover {
    color: grey;
  }
}